version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/template"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/template-raw"
    schedule:
      interval: "daily"
